<section class="container mb-10">
    <section class="container mb-10" id="artworks">
        <div class="flex justify-between items-end border-b border-black mb-6">
            <h2 class="text-5xl mb-2 pointer-events-none">Explore
                <span class="text-xl font-bold pointer-events-none">探索</span>
            </h2>
        </div>
        <ul class="grid">
            <!-- width of .grid-sizer used for columnWidth -->
            <li class="grid-sizer w-1/4"></li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art10.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">美國哥德式</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art11.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">閱讀的女子</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art12.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">邁向身分認同</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art13.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">墨西哥牛仔</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art14.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">馬賽爾‧杜尚</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art15.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">茂登旅館</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art16.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">彈鋼琴的女人</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art17.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">神奈川衝浪裏</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art18.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">愛德華‧馬奈</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art19.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">印度坐佛</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art20.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">藍與綠的音樂</p>
                </div>
            </li>
            <li class="grid-item w-1/4 group">
                <div class="p-4">
                    <div class="bg-white p-4">
                        <div class="relative">
                            <img src="/images/art21.jpg" alt="">
                            <div
                                class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                                <div class="flex h-full justify-center items-center p-4">
                                    <div class="flex flex-col justify-between ring-1 ring-white">
                                        <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                        <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">時間的凝滯</p>
                </div>
            </li>
        </ul>
    </section>
</section>