<section class="container mb-10" id="exhibitions">
    <ul class="lg:flex flex-wrap">
        <li class="lg:w-full ring-1 ring-black">
            <div class="lg:flex">
                <div class="lg:block bg-black">
                    <h2 class="bg-black text-white flex flex-col items-center mt-6 px-8">
                        <span
                            class="text-5xl mb-4 vertical-rl text-orientation-mixed pointer-events-none">Exhibitions</span>
                        <span class="vertical-rl pointer-events-none text-2xl">當 期 展 覽</span>
                    </h2>
                </div>
                <div class="lg:flex-grow">
                    <img class="lg:max-h-[500px] w-full object-cover" src="/images/art01.jpg" alt="首頁主視覺圖">
                </div>
                <div class="lg:w-4/12">
                    <div
                        class="bg-white px-3 py-8 lg:h-full lg:px-6 lg:pb-6 lg:pt-20 lg:flex lg:flex-col lg:justify-between">
                        <div class="mb-6">
                            <p class="text-lg leading-[19px] mb-2">The Poetry of Light and Shadow</p>
                            <h3 class="text-2xl font-bold mb-6 md:text-4xl xl:text-5xl">光影詩篇：印象派大師之藝</h3>
                            <p class="pointer-events-none">
                                印象派，作為一個顛覆傳統的藝術運動，打破了當時學院派繪畫的僵化規範，以捕捉瞬間光影、自然景象和真實生活為核心。這是一場探索視覺與感知邊界的旅程，邀請您深入了解印象派的藝術魅力與其對後世藝術的深遠影響。
                            </p>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-white btn-decoration">MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="lg:w-1/2">
            <div class="ring-1 ring-black lg:h-full lg:flex lg:flex-row">
                <div
                    class="lg:w-1/2 bg-white px-3 py-8 lg:h-full lg:px-6 lg:pb-6 lg:pt-20 lg:flex lg:flex-col lg:justify-between">
                    <div class="mb-6">
                        <p class="text-base leading-[19px] mb-2">Claude Monet</p>
                        <h3 class="font-bold mb-6 md:text-3xl xl:text-4xl">聖阿得列斯海灘</h3>
                        <p class="pointer-events-none">克勞德·莫內在諾曼第渡過了他的大部分童年和青少年時期，欣賞那如畫的沿海地區、村莊和制高點風景。</p>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-white btn-decoration">
                            MORE
                        </button>
                    </div>
                </div>
                <div class="lg:w-1/2">
                    <img class="w-full h-full object-cover max-h-[372px] sm:max-h-[500px] lg:max-h-[400px] "
                        src="/images/art02.jpg" alt="">
                </div>
            </div>
        </li>
        <li class="lg:w-1/2">
            <div class="ring-1 ring-black lg:h-full lg:flex lg:flex-row">
                <div
                    class="lg:w-1/2 bg-white px-3 py-8 lg:h-full lg:px-6 lg:pb-6 lg:pt-20 lg:flex lg:flex-col lg:justify-between">
                    <div class="mb-6">
                        <p class="text-base leading-[19px] mb-2">Gustave Caillebotte</p>
                        <h3 class="font-bold mb-6 md:text-3xl xl:text-4xl">雨天的巴黎街道</h3>
                        <p class="pointer-events-none">
                            畫作的主題是設定在下雨天的巴黎街上，人們撐傘的模樣，看似很市井小民生活的題材，卡耶伯特卻用了印象派強調光影色彩的筆觸，讓整幅畫有暗中帶亮的效果。</p>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-white btn-white:hover btn-decoration">
                            MORE
                        </button>
                    </div>
                </div>
                <div class="lg:w-1/2">
                    <img class="w-full h-full object-cover max-h-[372px] sm:max-h-[500px] lg:max-h-[400px] "
                        src="/images/art03.jpg" alt="">
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="container mb-10" id="collections">
    <div class="flex justify-between items-end border-b border-black mb-6">
        <h2 class="text-5xl mb-2 pointer-events-none">Collections
            <span class="text-xl font-bold pointer-events-none">典藏系列</span>
        </h2>
        <button class="btn btn-white btn-decoration">MORE</button>
    </div>
    <ol class="flex flex-wrap gap-y-4 lg:gap-y-6 lg:-mx-3">
        <!-- lg大圖 -->
        <li class="w-full lg:w-1/3 lg:px-3">
            <div class="flex bg-white ring-1 ring-black lg:flex-col lg:relative img-card">
                <div
                    class="w-10 flex justify-center items-center lg:absolute lg:top-0 lg:left-0 lg:z-10 lg:bg-white lg:w-16 lg:h-16 lg:ring-1 lg:ring-black">
                    <span class="text-2xl font-paytone pointer-events-none">1</span>
                </div>
                <div class="relative lg:w-full lg:h-[500px] img-wrap group">
                    <img src="/images/art04.jpg" alt=""
                        class="w-full h-full object-cover object-top border-b border-black">
                    <button
                        class="btn btn-white btn-decoration absolute right-0 bottom-0 opacity-0 invisible group-hover:visible group-hover:opacity-100 hover-500">MORE</button>
                </div>
                <div class="flex-grow">
                    <h3 class="text-xl px-2 py-4 font-bold border-b border-black">撐陽傘的女人-莫內夫人和她的兒子</h3>
                </div>
                <div class="flex p-2 justify-between">
                    <p class="leading-[17px]">Claude Monet</p>
                    <p class="leading-[17px]">B1-A3展區-5號位置</p>
                </div>
            </div>
        </li>
        <li class="w-full lg:w-1/3 lg:px-3">
            <div class="flex bg-white ring-1 ring-black lg:flex-col lg:relative img-card">
                <div
                    class="w-10 flex justify-center items-center lg:absolute lg:top-0 lg:left-0 lg:z-10 lg:bg-white lg:w-16 lg:h-16 lg:ring-1 lg:ring-black">
                    <span class="text-2xl font-paytone pointer-events-none">2</span>
                </div>
                <div class="relative lg:w-full lg:h-[500px] img-wrap group">
                    <img src="/images/art05.jpg" alt=""
                        class="w-full h-full object-cover object-top border-b border-black">
                    <button
                        class="btn btn-white btn-decoration absolute right-0 bottom-0 opacity-0 invisible group-hover:visible group-hover:opacity-100 hover-500">MORE</button>
                </div>
                <div class="flex-grow">
                    <h3 class="text-xl px-2 py-4 font-bold border-b border-black">聖雷札火車站</h3>
                </div>
                <div class="flex p-2 justify-between">
                    <p class="leading-[17px]">Claude Monet</p>
                    <p class="leading-[17px]">B1-B1展區-第12號位置</p>
                </div>
            </div>
        </li>
        <li class="w-full lg:w-1/3 lg:px-3">
            <div class="flex bg-white ring-1 ring-black lg:flex-col lg:relative img-card">
                <div
                    class="w-10 flex justify-center items-center lg:absolute lg:top-0 lg:left-0 lg:z-10 lg:bg-white lg:w-16 lg:h-16 lg:ring-1 lg:ring-black">
                    <span class="text-2xl font-paytone pointer-events-none">3</span>
                </div>
                <div class="relative lg:w-full lg:h-[500px] img-wrap group">
                    <img src="/images/art06.jpg" alt="" class="w-full h-full object-cover object-top">
                    <button
                        class="btn btn-white btn-decoration absolute right-0 bottom-0 opacity-0 invisible group-hover:visible group-hover:opacity-100 hover-500">MORE</button>
                </div>
                <div class="flex-grow">
                    <h3 class="flex flex-wrap text-xl px-2 py-4 font-bold border-b border-black">睡蓮 1919
                    </h3>
                </div>
                <div class="flex flex-wrap p-2 justify-between">
                    <p class="leading-[17px]">Claude Monet</p>
                    <p class="leading-[17px]">B1-C2展區-第7號位置</p>
                </div>
            </div>
        </li>
        <!-- lg小圖 -->
        <li class="w-full lg:w-1/3 lg:px-3">
            <div class="flex bg-white ring-1 ring-black img-card">
                <div class="w-10 flex justify-center items-center border-r border-black">
                    <span class="font-paytone text-2xl pointer-events-none">4</span>
                </div>
                <div class="w-[100px] h-[100px]">
                    <div class="h-full ring-1 ring-black img-wrap-min">
                        <img src="/images/art07.jpg" alt="" class="w-full h-full object-cover">
                        <span class="btn-decoration-min"></span>
                    </div>
                </div>
                <div class="flex-grow flex-wrap flex-col">
                    <h3 class="font-bold px-2 py-4 border-b border-black">班納庫爾的塞納河畔</h3>
                    <div class="flex flex-wrap justify-between px-2 py-3">
                        <p class="leading-[17px]">Claude Monet</p>
                        <p class="leading-[17px]">B1-D4展區-第9號位置</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="w-full lg:w-1/3 lg:px-3">
            <div class="flex bg-white ring-1 ring-black img-card">
                <div class="w-10 flex justify-center items-center border-r border-black">
                    <span class="font-paytone text-2xl pointer-events-none">5</span>
                </div>
                <div class="w-[100px] h-[100px] ">
                    <div class="h-full ring-1 ring-black img-wrap-min">
                        <img src="/images/art08.jpg" alt="" class="w-full h-full object-cover">
                        <span class="btn-decoration-min"></span>
                    </div>
                </div>
                <div class="flex-grow flex-wrap flex-col">
                    <h3 class="font-bold px-2 py-4 border-b border-black">巴吉爾和卡蜜拉</h3>
                    <div class="flex flex-wrap justify-between px-2 py-3">
                        <p class="leading-[17px]">Claude Monet</p>
                        <p class="leading-[17px]">B1-D4展區-第9號位置</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="w-full lg:w-1/3 lg:px-3">
            <div class="flex bg-white ring-1 ring-black img-card">
                <div class="w-10 flex justify-center items-center border-r border-black">
                    <span class="font-paytone text-2xl pointer-events-none">6</span>
                </div>
                <div class="w-[100px] h-[100px] ">
                    <div class="h-full ring-1 ring-black img-wrap-min">
                        <img src="/images/art09.jpg" alt="" class="w-full h-full object-cover">
                        <span class="btn-decoration-min"></span>
                    </div>
                </div>
                <div class="flex-grow flex-wrap flex-col">
                    <h3 class="font-bold px-2 py-4 border-b border-black">年輕女子與牡丹花</h3>
                    <div class="flex flex-wrap justify-between px-2 py-3">
                        <p class="leading-[17px]">Frédéric Bazille</p>
                        <p class="leading-[17px]">B1-D4展區-第9號位置</p>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</section>
<section class="container mb-10" id="artists">
    <div class="flex justify-between items-end border-b border-black mb-6">
        <h2 class="text-5xl mb-2 pointer-events-none">Artists
            <span class="text-xl font-bold pointer-events-none">熱門藝術家</span>
        </h2>
        <button class="btn btn-white btn-decoration">MORE</button>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="artswiper1" src="/images/artist01.jpg" />
                <h3 class="leading-[85px] absolute top-6 left-6 text-white text-5xl">Rembrandt van Rijn</h3>
            </div>
            <div class="swiper-slide">
                <img class="artswiper1" src="/images/artist02.jpg" />
                <h3 class="leading-[85px] absolute top-6 left-6 text-white text-5xl">Salvador Dalí</h3>
            </div>
            <div class="swiper-slide">
                <img class="artswiper1" src="/images/artist03.jpg" />
                <h3 class="leading-[85px] absolute top-6 left-6 text-white text-5xl">Vincent van Gogh</h3>
            </div>
            <div class="swiper-slide">
                <img class="artswiper1" src="/images/artist04.jpg" />
                <h3 class="leading-[85px] absolute top-6 left-6 text-white text-5xl">Edgar Degas</h3>
            </div>
            <div class="swiper-slide">
                <img class="artswiper1" src="/images/artist05.jpg" />
                <h3 class="leading-[85px] absolute top-6 left-6 text-white text-5xl">Jean Francois Millet</h3>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="container mb-10" id="artworks">
    <div class="flex justify-between items-end border-b border-black mb-6">
        <h2 class="text-5xl mb-2 pointer-events-none">Artworks
            <span class="text-xl font-bold pointer-events-none">最新展覽品</span>
        </h2>
        <button class="btn btn-white btn-decoration">MORE</button>
    </div>
    <ul class="grid">
        <!-- width of .grid-sizer used for columnWidth -->
        <li class="grid-sizer w-1/4"></li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art10.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">美國哥德式</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art11.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">閱讀的女子</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art12.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">邁向身分認同</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art13.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">墨西哥牛仔</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art14.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">馬賽爾‧杜尚</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art15.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">茂登旅館</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art16.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">彈鋼琴的女人</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art17.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">神奈川衝浪裏</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art18.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">愛德華‧馬奈</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art19.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">印度坐佛</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art20.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">藍與綠的音樂</p>
            </div>
        </li>
        <li class="grid-item w-1/4 group">
            <div class="p-4">
                <div class="bg-white p-4">
                    <div class="relative">
                        <img src="/images/art21.jpg" alt="">
                        <div
                            class="bg-black block absolute inset-0 opacity-0 bg-opacity-50 group-hover:opacity-100 hover-500">
                            <div class="flex h-full justify-center items-center p-4">
                                <div class="flex flex-col justify-between ring-1 ring-white">
                                    <p class="flex text-[18px] text-white p-4 mb-4">這幅畫作運用了細膩的色彩與流暢的筆觸，捕捉了瞬間的情感與氛圍</p>
                                    <button class="btn btn-white btn-decoration self-end m-4">MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4">
                <p class=" mt-1 mb-4 py-4 border-b border-black font-bold">時間的凝滯</p>
            </div>
        </li>
    </ul>
</section>
<section>
    <div class="border-b border-black pb-2">
        <div class="border-b-4 border-black">
            <div class="container text-center pb-4">
                <h3 class="text-5xl mb-2 pointer-events-none">Visitor Information</h3>
                <p class="text-xl font-bold mb-2 pointer-events-none">參觀資訊</p>
            </div>
        </div>
    </div>
    <div class="container py-12">
        <ul class="flex flex-wrap gap-y-12">
            <li class="px-4 w-1/4 text-center">
                <i class="fa-solid fa-ticket text-primary text-5xl mb-4"></i>
                <h3 class="text-lg font-bold mb-8">票價資訊</h3>
                <p class="mb-8">提供美術館開館時間、門票價格的詳細資訊。</p>
            </li>
            <li class="px-4 w-1/4 text-center">
                <i class="fa-solid fa-map text-primary text-5xl mb-4"></i>
                <h3 class="text-lg font-bold mb-8">館內導覽</h3>
                <p class="mb-8">提供館內各展廳位置、設施和參觀動線，方便訪客規劃參觀路線。</p>
            </li>
            <li class="px-4 w-1/4 text-center">
                <i class="fa-solid fa-book text-primary text-5xl mb-4"></i>
                <h3 class="text-lg font-bold mb-8">訪客守則</h3>
                <p class="mb-8">列出參觀規則與無障礙設施，包括輪椅通道和輔助服務。</p>
            </li>
            <li class="px-4 w-1/4 text-center">
                <i class="fa-solid fa-car text-primary text-5xl mb-4"></i>
                <h3 class="text-lg font-bold mb-8">交通資訊</h3>
                <p class="mb-8">提供停車資訊、公共交通指南及鄰近餐飲選擇，讓訪客輕鬆安排行程。</p>
            </li>
        </ul>
    </div>
</section>